@font-face {
  font-family: 'PT Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
}


html, body {
  background-color: rgb(247, 82, 220);
  font-family: '';
}