@font-face {
  font-family: 'PT Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
}

html *,
body * {
  margin: 0;
}

html,
body {
  background-color: rgb(0, 0, 0);
  font-family: 'PT Mono';
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.terminal {
  background-color: black;
  box-shadow: 10px;
  border: 1px solid rgb(118, 118, 118);
  box-shadow: 8px 8px rgb(118, 118, 118);
  border-radius: 10px;
  height: 410px;
  width: 735px;
  position: relative;
}

.toolbar {
  background-color: black;
  border-bottom: 1px solid rgb(118, 118, 118);
  height: 8%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  z-index: 999;
}

.scroll {
  position: relative;
  overflow-y: scroll;
  max-height: 90%;
  padding: 5px;
}

.toolbar ul {
  margin: 0;
  padding: 0;
  width: 60px;
  display: flex;
  justify-content: space-between;
}


.toolbar li {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  width: 4px;
  padding: 5px;
  font-size: 10px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}

.red {
  background-color: rgb(255, 83, 71);
}

.yellow {
  background-color: rgb(255, 187, 71);
}

.green {
  background-color: rgb(43, 184, 0);
}

.name {
  color: rgb(254, 0, 135);
}

.message {
  color: white;
  font-size: 14px;
  margin: 0;
}

.tag {
  color: lime;
}

.root {
  color: blueviolet;
}

.inline {
  display: inline-block;
}

#insert input {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'PT Mono', monospace;
  font-weight: bold;
  caret-color: rgb(255, 0, 179);
  color: rgb(254, 0, 135)
}

#insert input:focus {
  border: none;
  background-color: transparent;
}

#insert {
  color: white;
  font-size: 14px;
  margin: 0;
}

.clear {
  color: aqua;
}

.exit {
  color: red;
}

.help {
  color: cornflowerblue;
}

.errorName {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.commandList {
  list-style: none;
  color: rgb(255, 0, 179);
}

.item {
  color: rgb(255, 0, 179);
  font-size: 14px;
  padding: 3px;
}

.item::before {
  content: '> ';
  color: rgb(255, 0, 179);
  font-size: 14px;
}

.contact a {
  color: rgb(255, 83, 71);
  text-decoration: none;
}

.contact {
  list-style: none;
  padding: 3px;
}

.contact a:hover {
  color: aquamarine;
}

.contact::before {
  content: '> ';
  color: rgb(255, 83, 71);
}


#skill {
  color: rgb(255, 191, 0)
}

#skills {
  margin-left: 40px;
}

.note {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 83, 71)
}

#restore {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  display: none;
}

#restore:hover {
  color: rgb(43, 184, 0);
  cursor: pointer;
}